body.light-theme {
    background-color: #f8f9fa;
    color: #222;
}

body.dark-theme {
    background-color: #1f1f1f;
    color: #f2f2f2;
}

body.dark-theme a {
    color: #ff9ecb;
}

body.dark-theme hr {
    border-color: #444;
}